---
layout: default
title: Celeste Pang | User Experience Designer
---

<div class="site-inner">
  <div id='intro' class='tile'>
    <h1 class="intro-blurb">I design <strong>user experiences</strong>. Here's some of my work.</h1>
  </div>
  <div id="work">
    <div class="container-12">
      {% for project in site.data.projects %}
        <a href="/portfolio/{{ project.slug }}" target='_blank' class="work-content">
          <div class="image-wrapper">
            <img src="{{ project.image_url }}" alt="{{ projects.title }} screen">
          </div>
          <h2><span>{{ project.company_label }}</span>{{ project.title }}</h2>
          <div class="details">
            <span>
            {% for role in project.roles %}
              {{ role.title }}{% if forloop.last == false %},{% endif %}
            {% endfor %}
            </span>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
