<header class="site-header" role="banner">
  <div class="site-inner">
    <div class="site-logo">
      <a href='/'>Celeste Pang</a>
    </div>
    <ul class='site-nav'>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
      <li>
        <a href="http://ca.linkedin.com/pub/celeste-pang/29/17b/a66">Linkedin</a>
      </li>
      <li>
        <a href="mailto:hello@pixeltheory.cc">Email</a>
      </li>
    </ul>
  </div>
</header>
